# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.env

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Project specific
config.py  # Hide API keys
*.log
.streamlit/secrets.toml

# Distribution / packaging
dist/
build/
*.egg-info/ 

#api keys
.streamlit/secrets.toml